


// COLORS

$c-text: #000;

$c-gray-100: #F0F0F0;
$c-gray-200: #E1E1E1;
$c-gray-300: #B3B3B3;
$c-gray-400: #A5A5A5;
$c-gray-500: #9f9f9f;

$c-warning: yellow;
$c-good: green;
$c-bad: red;



// FONTS

$fz-1: 80px;
$fz-2: 64px;
$fz-3: 48px;
$fz-4: 32px;
$fz-5: 24px;
$fz-6: 20px;

$ff-main: 'BDO Grotesk', sans-serif;


$fz-base: 1rem; // = 16px

$fz-xxs: $fz-base * 0.75; // 12px
$fz-xs: $fz-base * 0.8125; // 13px
$fz-sm: $fz-base * 0.875; // 14px
$fz-md: $fz-base; // 16px
$fz-lg: $fz-base * 1.125; // 18px
$fz-xl: $fz-base * 1.25; // 20px
$fz-xxl: $fz-base * 1.5; // 24px



// SIZINGS

$pagepadding: 24px;
$container-width: 1400px;




// Button sizes

$btn-height-sm: 32px; 
$btn-height-md: 48px;
$btn-height-lg: 56px;
$btn-height-xl: 72px;



// TRANSITIONS

$trans-timing: cubic-bezier(0.65, 0, 0.35, 1);

$trans-fast: 0.15s $trans-timing;
$trans-medium: 0.3s $trans-timing;
$trans-slow: 0.6s $trans-timing;
$trans-xslow: 0.9s $trans-timing;


// Z Indexes

$z-header: 100;
$z-popups: 500;
