// Import all modules first
@use "sass:math";
@use "sass:color";
@use "wp-theme-details.css" as *;
@use "vars" as *;


// Mixins
@use "./0-mixins/font-face" as *;
@use "./0-mixins/input-placeholder" as *;


// BOOTSTRAP
@use './1-vendor/bootstrap-variables';
@use "~bootstrap/scss/bootstrap" as bootstrap;
@use "~bootstrap/scss/bootstrap-grid" as grid;
@use "~bootstrap/scss/bootstrap-utilities" as utils;
@use "./1-vendor/bootstrap-overrides" as *;

@use "./_reset" as *;


// Utilities
@use './2-modifiers/fade' as *;
@use './2-modifiers/color' as *;
@use './2-modifiers/type' as *;

@use './3-components/button' as *;
@use './3-components/spacer' as *;
@use './3-components/divider' as *;
@use './3-components/absatz' as *;
@use './3-components/fluid-video' as *;
@use './3-components/section' as *;
@use './3-components/header/header' as *;
@use './3-components/footer/footer' as *;


// Templates and pages
@use './4-templates/page-template-default' as *;
@use './4-templates/front-page' as *;
@use './4-templates/blog-index' as *;
@use './4-templates/blog-single' as *;

// Woocommerce
@use './5-woo/common' as *;
@use './5-woo/pagination' as *;
@use './5-woo/cart' as *;
@use './5-woo/checkout' as *;
@use './5-woo/archive' as *;
@use './5-woo/single' as *;
@use './5-woo/my-account' as *;









// RESET CSS

@font-face {
	font-family: 'BDO Grotesk';
	src: url('../../assets/fonts/BDOGrotesk/BDOGrotesk-VF.woff2') format('woff2-variations');
	font-weight: 100 900;
	font-stretch: 75% 125%;
	font-style: normal;
}


body {
	font-family: $ff-main;
	font-size: $fz-md;
	color: $c-text;
	background-color: $c-gray-100;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
	color: $c-text;

	transition: 0.2s;

	&:hover,
	&:focus {
		outline: none;
		text-decoration: none;
		color: $c-text;
	}
}

button,
input,
textarea,
select {
	font-family: $ff-main;
	font-size: $fz-md;
}

button,
input[type="submit"] {
	cursor: pointer;
}
