.color-good {
    color: $c-good;
}

.color-bad {
    color: $c-bad;
}

.c-gray-100 {
    color: $c-gray-100;
}

.c-gray-200 {
    color: $c-gray-200;
}

.c-gray-300 {
    color: $c-gray-300;
}

.c-gray-400 {
    color: $c-gray-400;
}

.c-gray-500 {
    color: $c-gray-500;
}

.bg-gray-100 {
    background-color: $c-gray-100;
}

.bg-gray-200 {
    background-color: $c-gray-200;
}

.bg-gray-300 {
    background-color: $c-gray-300;
}

.bg-gray-400 {
    background-color: $c-gray-400;
}

.bg-gray-500 {
    background-color: $c-gray-500;
}
