.fz-sm {
    font-size: $fz-sm;
}

.fz-md {
    font-size: $fz-sm;
}

.fz-lg {
    font-size: $fz-lg;
}

.fz-xl {
    font-size: $fz-xl;
}

.fz-xxl {
    font-size: $fz-xxl;
}


.uppercase {
    text-transform: uppercase;
}

.smaller {
    font-size: smaller;
}

.bigger {
    font-size: larger;
}

