<!DOCTYPE html>
<html lang="en">

<head>
	<%= require('html-loader!./html-partials/_head.html') %>
</head>

<body>


<%= require('html-loader!./html-partials/_header.html') %>



<div class="" style="text-align: center; background: rgba(0,0,0,0.05); padding: 60px 20px; margin-bottom: 60px;">
	<h1>UI KIT</h1>
	<p>You can collect all your custom components on this page (buttons, input fields, etc)</p>
</div>





<%= require('html-loader!./html-partials/_footer.html') %>



<%= require('html-loader!./html-partials/_scripts.html') %>


</body>

</html>